* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}


nav {
    display: flex;
    gap: 10px;
    margin-left: 70%;
    position: fixed;
    background-color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: 15px;
    text-align: center;
}


footer {
    text-align: right;
}